* {
    margin: 0;
}

body {
    text-align: center;
    background-color: #380000;
    color: #D0D0D0;
    /*background-image: url(/images/dark_fish_skin.png);*/
    /*background-repeat: repeat;*/
    padding: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}

body > #container {
    height: auto;
    width: 100%;
    min-height: 100%;
}

.footer, .push {
    height: 2em;
    background-color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    text-align: right;
}

.footer p {
    margin-right: 3em;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.ui-widget {
    padding-top: 25px;
    padding-bottom: 25px;
}

#friendNames {
    font-size: 50px;
}

.footer a:visited {
    color:white;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60pt;
    margin-bottom: 0.1em;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

form {
    font-size: 20pt;
}


button{
    width: 200px;
    height: 50px;
    font-size: 25pt;
    font-family: 'Roboto Condensed', sans-serif
}

input { 
    font-size: 20pt; 
    font-family: 'Roboto Condensed', sans-serif
    padding: 15px;
    background: rgba(255,255,255,0.6);
}

button:hover{
    border: blue;
    font-weight: bold;
    font-size: 20pt;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif
}

label{
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25pt;
    margin-bottom: 0.1em;
    color: #33FFFF;
}

.fb-login-button {
    margin-bottom: 1em;
}